/*HTML Vertical Lengend*/

h3 {
    margin-top: 30px;
}
.city-name {
    margin: 0 !important;
}

.key-dot {
    display: inline-block;
    height: 20px;
    margin-right: .5em;
    width: 20px;
}

.legend {
    margin-right:30px;
}

.Sub0 { background: #bfff00;}
.Sub1 { background: #306596;}
.Sub2 { background: #306500;
}
